@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700,400italic);

/*--------------------------
FONT-FACE
---------------------------*/
/*
@font-face { font-family: 'MisoRegular'; src: url('../fonts/miso-regular.eot'); src: url('../fonts/miso-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/miso-regular.woff') format('woff'), url('../fonts/miso-regular.ttf') format('truetype'), url('../fonts/miso-regular.svg#MisoRegular') format('svg');font-weight: normal; font-style: normal; }
*/

body {
    font-family: 'Droid Serif', sans-serif;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.remark-slide-content h1 { font-size: 3.9em; line-height: 1.0em;}
.remark-slide-content h2 { font-size: 3.0em; line-height: 1.0em;}
.remark-slide-content h3 { font-size: 2.4em; line-height: 1.0em;}
.remark-slide-content h4 { font-size: 2.1em; line-height: 1.0em;}

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.riot {
  background: #0e0e0e;
  color: #f6f6fb;
  text-shadow: 0 0 20px #333;
}
.riot h1 { color: #3fa687; line-height: 1.0em;}
.riot h2 { color: #f6f6fb; line-height: 0.9em;}
.riot h3 { color: #3fa687; line-height: 0.8em;}
.riot h4 { color: #f6f6fb; line-height: 0.7em;}

.riot a {
    color: #f6f6fb;
    line-height: 0.6em;
}

.xcheck {
  background: #666666;
  color: #f6f6fb;
  text-shadow: 0 0 20px #333;
}
.xcheck h1 { color: #00bb51; line-height: 1.0em;}
.xcheck h2 { color: #f6f6fb; line-height: 0.9em;}
.xcheck h3 { color: #f6f6fb; line-height: 0.8em; font-family: 'Ubuntu Mono';}
.xcheck h4 { color: #00bb51; line-height: 0.7em;}

.xcheck a {
    color: #00bb51;
    line-height: 0.6em;
}
